.symbols-grid, .symbol-dict {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.col {
    width: 35%;
}

.symbol {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
}